PORT=3000
FRONTEND_URL=http://IP_VM:5173
MOBILE_URL=http://IP_VM:5173
DATABASE_URL=postgresql://USER:PASSWORD@db:5432/DB_NAME
JWT_SECRET=change_me
JWT_EXPIRES_IN=30min
REFRESH_TOKEN_DAYS=7
NODE_ENV=recette